<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper"> 
	<!-- 1. 목록 명시 : 회원 리스트 -->
	<!-- 어노테이션을 이용할 경우 id는 MemberMapper.java에서 명시한 "인터페이스 메서드명"이 됨(동일한 메서드명id사용 필수) -->
	<select id="selectList" parameterType="map" resultType="memberVO">
		<!-- spmember의 누락된 행도 보여지게끔 조인 -->
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * FROM spmember m LEFT OUTER JOIN spmember_detail d
			ON m.mem_num = d.mem_num
			<where>
				<if test="keyword !='' and keyfield == 1">
					m.id LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyword !='' and keyfield == 2">
					d.name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyword !='' and keyfield == 3">
					d.email LIKE '%' || #{keyword} || '%'
				</if>
			</where>
			ORDER BY d.reg_date DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end} 
		]]>
	</select>
	
	<!-- 2. 목록 명시 : 총 레코드 수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM spmember m LEFT OUTER JOIN spmember_detail d
		ON m.mem_num = d.mem_num
		<where>
		<if test="keyword !='' and keyfield == 1">
			m.id LIKE '%' || #{keyword} || '%'
		</if>
		<if test="keyword !='' and keyfield == 2">
			d.name LIKE '%' || #{keyword} || '%'
		</if>
		<if test="keyword !='' and keyfield == 3">
			d.email LIKE '%' || #{keyword} || '%'
		</if>
		</where>
	</select>
</mapper>







